:root{
    background-color: rgba(7, 6, 6, 0.87);
}
.displayDiv{
    background-color: rgb(15, 15, 15);
    display: flex;
    height:auto;
    padding: 20px 10px 10px 10px;
    margin: 50px;
    justify-content: center;
    gap: 10px;
    width: auto;
    border-radius: 10px;
}

.exerciseCard{
    width: 220px;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.exerciseTypeDisplayImg{
    height: 200px;
    padding: 20px 0px 0 0px;
    margin: auto;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .displayDiv {
        flex-direction: column;
        height: auto;
        padding: 10px 5px 5px 5px;
        margin: 50px;
    }
}