@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

.cardContainer{
    display: flex;
    gap:50px;
    padding: 20px;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.exerciseCard{
    background-color: rgb(0, 0, 0);
    width: 220px;
    margin: 0px auto;
    border-radius: 0 0 5% 5%;
    height:auto;
    position: relative;
}

.exerciseGif{
    width:220px;
}

.exerciseName{
    color: white;
    font-size:23px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Poppins';
    padding-top: 5px;
}
.exerciseEquipment{
    color: rgb(255, 0, 234);
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

.exerciseTarget{
    color: white;
    font-size: '12px';
    text-align: center;
    padding-bottom: 15px;
}

